/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  background: rgb(139, 170, 121);
  height: 150px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}
.header .element:nth-child(1) {
  margin-right: 81px;
}
.header .element:nth-child(2) {
  margin-right: 55px;
}
.header .element:last-child {
  margin-right: 0;
}
.header__logo {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.header__info-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__info-container .element1:nth-child(1) {
  margin-right: 14.5px;
}
.header__info-container .element1:nth-child(2) {
  margin-right: 13.5px;
}
.header__info-container .element1:nth-child(3) {
  margin-right: 13.5px;
}
.header__info-container .element1:nth-child(4) {
  margin-right: 17.5px;
}
.header__info-container .element1:last-child {
  margin-right: 0;
}
.header__info-container .info-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.header__info-container .info-block .header-tel {
  color: rgb(255, 255, 255);
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0%;
}
.header__info-container .separator {
  display: block;
}
.header__info-container .header-time {
  color: rgb(255, 255, 255);
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0%;
}
.header__info-container .header-adress {
  color: rgb(255, 255, 255);
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
}
.header .header-button {
  width: 265px;
  height: 52px;
  box-sizing: border-box;
  border: 1px solid rgb(231, 84, 47);
  border-radius: 10px;
  background: rgb(255, 255, 255);
  cursor: pointer;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0%;
}

@media (max-width: 1200px) {
  .header {
    height: 250px;
    flex-direction: column;
    gap: 10px;
  }
  .header .element:nth-child(1) {
    margin-right: 0;
  }
  .header .element:nth-child(2) {
    margin-right: 0;
  }
  .header .element:last-child {
    margin-right: 0;
  }
  .header__logo {
    padding-right: 50px;
  }
  .header__info-container .element1:nth-child(1) {
    margin-right: 20px;
  }
  .header__info-container .element1:nth-child(2) {
    margin-right: 20px;
  }
  .header__info-container .element1:nth-child(3) {
    margin-right: 20px;
  }
  .header__info-container .element1:nth-child(4) {
    margin-right: 20px;
  }
  .header__info-container .element1:last-child {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .header {
    height: 320px;
    font-size: 15px;
  }
  .header .info-block {
    gap: 14px;
  }
  .header__info-container {
    flex-direction: column;
  }
  .header__info-container .element1:nth-child(1) {
    margin-right: 0px;
  }
  .header__info-container .element1:nth-child(2) {
    margin-right: 0;
  }
  .header__info-container .element1:nth-child(3) {
    margin-right: 0;
  }
  .header__info-container .element1:nth-child(4) {
    margin-right: 0;
  }
  .header__info-container .element1:last-child {
    margin-right: 0;
  }
  .header .header-button {
    width: 200px;
    height: 30px;
    margin-right: 30px;
  }
  .header .separator {
    display: none;
  }
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.main {
  background: rgb(250, 243, 221);
}

.main__search-container {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 29px;
  gap: 20px;
}

.catalog-container {
  padding-left: 71px;
  display: flex;
  gap: 70px;
}

.catalog-button {
  color: rgb(255, 255, 255);
  font-family: "Noto Sans", sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0%;
  width: 292px;
  height: 56px;
  border: none;
  border-radius: 10px;
  background: rgb(139, 170, 121);
}

.catalog-links {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 754px;
}

.catalog-link {
  display: flex;
  gap: 18px;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
}

.link-img {
  padding: 5px;
  width: 40px;
  height: 40px;
  border: 1px solid rgb(231, 84, 47);
  border-radius: 5px;
  background: rgb(255, 255, 255);
}

.search-input-container .search-form {
  display: flex;
  gap: 71px;
  align-items: center;
  margin-left: 428px;
}

.search-input {
  width: 749px;
  height: 42px;
  box-sizing: border-box;
  border: 0.25px solid rgb(0, 0, 0);
  border-radius: 5px;
  background: rgb(255, 255, 255);
}

.search-input::placeholder {
  font-family: "Noto Sans", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  padding-top: 10px;
  padding-left: 18px;
}

.search-button {
  width: 79px;
  height: 79px;
  box-sizing: border-box;
  border: 1px solid rgb(231, 84, 47);
  background: rgb(255, 255, 255);
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .catalog-button {
    width: 146px;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
  }
  .search-input-container .search-form {
    gap: 21px;
    margin-left: 328px;
  }
  .search-input {
    width: 449px;
    height: 42px;
  }
  .search-button {
    width: 59px;
    height: 59px;
  }
}
@media (max-width: 768px) {
  .search-input-container .search-form {
    gap: 21px;
    margin-left: 128px;
  }
  .catalog-link {
    font-size: 16px;
  }
  .link-img {
    padding: 3px;
    width: 25px;
    height: 25px;
  }
  .search-button {
    width: 49px;
    height: 49px;
  }
}
.footer {
  background: rgb(139, 170, 121);
  padding-top: 23px;
  padding-bottom: 31px;
  display: flex;
  justify-content: center;
}
.footer .footer-h3 {
  font-family: "Noto-Sans", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.footer .contacts-a {
  display: flex;
  gap: 7px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: "Noto-Sans", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
}
.footer .link-to-users a, .footer .user-nav-link a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: "Noto-Sans", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
}
.footer .mail-input {
  width: 181px;
  height: 30px;
  margin: 4px 0 32px 0;
  box-sizing: border-box;
  border: 0.25px solid rgb(0, 0, 0);
  border-radius: 5px;
  background: rgb(255, 255, 255);
}
.footer .footer-main-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .footer-main-form .main-form-input1 {
  box-sizing: border-box;
  border: 0.25px solid rgb(0, 0, 0);
  border-radius: 5px;
  background: rgb(255, 255, 255);
  width: 181px;
  height: 50px;
}
.footer .footer-main-form .main-form-input1::placeholder {
  top: 0;
  left: 0;
  transform: translate(1px, -9px);
}
.footer .footer-main-form .main-form-input2 {
  box-sizing: border-box;
  border: 0.25px solid rgb(0, 0, 0);
  border-radius: 5px;
  background: rgb(255, 255, 255);
  width: 181px;
  height: 30px;
}
.footer .footer-main-form .footer-button {
  width: 81px;
  height: 25px;
  box-sizing: border-box;
  border: 0.25px solid rgb(255, 111, 0);
  border-radius: 5px;
  background: rgb(255, 255, 255);
}

.footer .footer__block:nth-child(1) {
  margin-right: 95px;
}

.footer .footer__block:nth-child(2) {
  margin-right: 95px;
}

.footer .footer__block:nth-child(3) {
  margin-right: 92px;
}

.footer .footer__block:nth-child(4) {
  margin-right: 55px;
}

.footer .footer__block:last-child {
  margin-right: 0;
}

@media (max-width: 1200px) {
  .footer {
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=style.css.map */
